<div style="background: none repeat scroll 0 0 #EFEFEF; width: 15%;">
<div>statistics by oscar garcia join the group 12 123 files published from March 2003</div>
<div class="right-hr"></div>
<div>
<ul>
<li>options</li>
<li>Create a post</li>
<li>create an activity</li>
<li>create a gallery</li>
</ul>
</div>
    <div class="right-comment">
    <div class="text-area"><textarea name="" cols="" rows=""></textarea></div>
    <div class="blue-btn" style="margin:5px 0; float:right;"><input name="" type="button" value="Send" /></div>
    <div class="clear"></div>
    </div>
    <div class="right-hr"></div>
<div>
<div style="width:18px; float:left;"><input name="" type="checkbox" value="" /></div>
<div>let me know if they publish</div>
<div class="blue-btn" style="margin:5px 0;"><input name="" type="button" value="edit group" /></div>
</div>
</div>