<?xml version="1.0"?>
<appSettings>
    <!-- Paypal -->

    <add key="PaypalUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    <!--<add key="PaypalUrl" value="https://www.paypal.com/cgi-bin/webscr"/>-->
    <add key="PaypalReturnUrl" value="paypal/PostProcessOrder"/>
    <add key="PaypalCancelReturnUrl" value=""/>
    <add key="PaypalBusinessEmail" value="nares._1349594535_biz@gmail.com"/>
    <add key="PaypalHeaderImageUrl" value="https://infotorpedo.com/Content/Images/logo.png"/>

    <!-- Paypal -->
</appSettings>